[user]
  name = Alex McHale
  email = alex@anticlever.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[alias]
  ci = commit
  co = checkout
  cb = checkout -b
  s  = status --short --branch --untracked=all
  sn = status --short --branch --untracked=no
  sd =! "git s . | grep -v '^## ' | cut -c 4- | cut -d'/' -f1 | uniq"
  bc = difftool --dir-diff --find-renames
  url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'
  p   = pull --rebase
  m   = merge --no-ff
  c   = commit --edit --verbose
  lgh = log --date=\"short\" --format=\"%Credhttps://github.com/drhinternet/greenarrow-studio/commit/%H %Cgreen%s%Cblue%d %Cred(%aN %ad)\"
  unp =! git up && git push

  sync =! git up && git push

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
  path = /usr/local/bin

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
  path = /usr/local/bin

[difftool]
  prompt = false

[diff]
  tool = bc3

[color "diff"]
  meta = blue
  frag = magenta
  old = red
  new = green

[core]
  editor = /usr/bin/vim
  excludesfile = /Users/alexmchale/.gitignore_global

[push]
  default = simple

[pull]
  default = simple

[mergetool]
  prompt = false

[merge]
  tool = bc3

[github]
  user = alexmchale

[git-up "bundler"]
  check = true

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
