[user]
  name = Alex McHale
  email = alex@anticlever.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[alias]
  ci = commit
  co = checkout
  cb = checkout -b
  s  = status --short --branch
  sn = status --short --branch --untracked=no
  bc = difftool --dir-diff --find-renames
  url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool "BC3"]
  #cmd = /Users/alexmchale/winediff \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[diff]
  tool = "BC3"

[color "diff"]
  meta = blue
  frag = magenta
  old = red
  new = green

[core]
  editor = /usr/bin/vim

[push]
  default = simple

[pull]
  default = simple

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[github]
  user = alexmchale
